.pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px;
    background-color: rgb(240, 238, 158);
    position: relative;
    z-index: 1;
    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        margin: 20px;
        padding: 0;
        text-transform: uppercase;
    }
    &__button {
        padding: 0.5rem;
        margin-right: 200px;
        border: none;
        background-color: transparent;
    }
}

.OCM-Button {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    margin-right: 200px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}
.OCM-Button:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}
