<div>
    <app-page-header title="Detalles programa" [hasButton]=false></app-page-header>
</div>
<mat-tab-group>
    <mat-tab label="Presupuestos">
        <mat-tab-group>
            <mat-tab label="2018">2018</mat-tab>
            <mat-tab label="2019"> 2019</mat-tab>
            <mat-tab label="2020"> 2020</mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Comparativas">Comnparativas liquiedaciones años anteriores</mat-tab>
    <mat-tab label="Indicadores">Indicadores</mat-tab>
    <mat-tab label="Pleno">Asuntos tratados en el Pleno sobre este programa</mat-tab>
    <mat-tab label="Acuerdos JGL">Asuntos tratados en JGL sobre este programa</mat-tab>
    <mat-tab label="Licitaciones"> Licitaciones</mat-tab>
    <mat-tab label="Contratos menores">Contratos menores</mat-tab>
    <mat-tab label="Hemeroteca">Hemeroteca</mat-tab>
    <mat-tab label="Biblioteca">Biblioteca</mat-tab>
</mat-tab-group>