@mixin backgroundButton($action) {
    $nameIcon: "ver.svg";

    @if $action == "Editar" {
        $nameIcon: "edit.svg";
        background-color: #98c3eb;
    }

    @if $action == "Borrar" {
        $nameIcon: "eliminar.svg";
        background-color: #dce657;
    }

    background-image: url("../../../../assets/icon/" + $nameIcon);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.buttonRow {
    cursor: pointer;

    border-radius: 1rem;
    &:hover {
        background: #db480d;
        transform: scale(1.4);
    }

    &--Editar {
        @include backgroundButton("Editar");
    }
    &--Borrar {
        @include backgroundButton("Borrar");
    }
    &--Ver {
        @include backgroundButton("Ver");
    }
}
