<button class="buttonRow" (click)="btnClickedHandler($event)" [class]="['buttonRow--'+value]">
    <!-- <i [ngClass]="{'fa fa-edit': value==='Editar','fa fa-trash': value==='Borrar','fa fa-eye': value==='Ver'}"></i> -->
    <!-- <i [ngClass]="{'fa fa-edit': value==='Editar','fa fa-trash': value==='Borrar'}"></i> -->
    <!-- <i class="fa fa-edit" *ngIf="value==='Editar'"></i>
    <i class="fa fa-trash" *ngIf="value==='Borrar'"></i> -->
    <!-- <img src="{{'assets/icon/'+ getIcon() }}" alt=""> -->

</button>