<div class="gridContainer">
    <div>
        <app-page-header title="Economicos gastos" hasButton="true"></app-page-header>
    </div>
    <div>
        <ag-grid-angular #agGrid style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
            class="ag-theme-balham" [rowData]="data$ | async" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
            rowSelection="multiple" [groupSuppressAutoColumn]="true" [groupIncludeFooter]="true"
            [groupIncludeTotalFooter]="true" [groupHeaderHeight]="groupHeaderHeight" [headerHeight]="headerHeight"
            [localeText]="localeText" [suppressAggFuncInHeader]="true" (gridReady)="onGridReady($event)"
            (firstDataRendered)="headerHeightSetter()" (gridReady)="onGridReady($event)"
            (columnResized)="headerHeightSetter()" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </div>
</div>