<!-- https://codepen.io/blackellis/pen/jObGbeG -->
<div class="cardsRow">
    <div class="card">
        <p class="card__name">
            <i class="fa fa-shopping-cart"></i>
            PMP
        </p>
        <div row>
            <div class="card__data">
                365 días
            </div>
            <div class="card__evolution">
                + 5 días
            </div>
            <div class="card__graph">
                <img src="../../../../assets/img/graph.jpg" alt="graph">
            </div>
        </div>
    </div>

    <div class="card">
        <p class="card__name">
            <i class="fa fa-shopping-cart"></i>
            Deuda viva
        </p>
        <div row>
            <div class="card__data">
                1050 M
            </div>
            <div class="card__evolution" style="background-color: red">
                + 45 M
            </div>
            <div class="card__graph">
                <img src="../../../../assets/img/graph.jpg" alt="graph">
            </div>
        </div>
    </div>

    <div class="card">
        <p class="card__name">
            <i class="fa fa-shopping-cart"></i>
            Deuda comercial
        </p>
        <div row>
            <div class="card__data">
                65 M
            </div>
            <div class="card__evolution">
                + 42 M
            </div>
            <div class="card__graph">
                <img src="../../../../assets/img/graph.jpg" alt="graph">
            </div>
        </div>
    </div>

    <div class="card">
        <p class="card__name">
            <i class="fa fa-shopping-cart"></i>
            Tesoreria
        </p>
        <div row>
            <div class="card__data">
                20 M
            </div>
            <div class="card__evolution">
                + 10 M
            </div>
            <div class="card__graph">
                <img src="../../../../assets/img/graph.jpg" alt="graph">
            </div>
        </div>
    </div>
</div>