<div class="headerMain">
  <div class="headerSideBar"></div>
  <button id="buttonRotate" class="buttonRotate" (click)="toggleActive()">
    <span
      [ngClass]="sidebarIsOpen ? ' fa fa-arrow-circle-left fa-2x open' : 'fa fa-arrow-circle-left fa-2x close'"></span>
  </button>
</div>

<!-- <input type="checkbox" #myCheckbox (change)="onCheckboxChange($event)"> -->
<input type="checkbox" #myCheckbox checked=true>


<div id="sidebarMenu">
  <ul class="sidebarMenuInner">
    <li><span>DASHBOARD</span></li>
    <ul>
      <li>Ingresos </li>
      <li>Gastos</li>
    </ul>
  </ul>

  <ul class="sidebarMenuInner">
    <li> <span>INGRESOS</span></li>
    <ul>
      <li><i class="fa fa-hippo fa-2x"></i>Cápitulos </li>
      <li>Económicos</li>
    </ul>
  </ul>

</div>

<div class="mainInner">
  <div>mainInner</div>
</div>

<!--
 https://codepen.io/plavookac/pen/qomrMw
 https://codepen.io/JFarrow/pen/fFrpg
 -->

<!-- https://icons8.com/line-awesome -->
<!-- <link rel="stylesheet" href="path/to/line-awesome/css/line-awesome-font-awesome.min.css"> -->