@use "sass:map";
@import "/src/scss/variables";

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
// @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

html,
body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

i {
    margin-right: 10px;
}

// https://cssbuttons.io/detail/cssbuttons-io/massive-mayfly-74
.buttonRotate {
    cursor: pointer;
    border: 0;
    background: transparent;
}

.buttonRotate .open {
    transition: all 0.45s;
    background: #fbc02d;
    border-radius: 1rem;
    transform: rotate(0deg);
}

.buttonRotate .close {
    transition: all 0.45s;
    background: #fbc02d;
    border-radius: 1rem;
    transform: rotate(180deg);
}

// ******************************************************

.headerSideBar {
    display: flex;
    width: 200px;
    background-color: green;
}
.headerMain {
    display: flex;
    background-color: map.get($OCM-colors, "navBarBackground");
    height: 40px;
}

// .openSidebarMenu {
//     margin-left: 20px;
//     color: map.get($OCM-colors, "navBarBackground");
// }

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
// ******************************************************

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 200px;
    transform: translateX(-200px);
    transition: transform 250ms ease-in-out;
    color: whitesmoke;
    border-style: solid;
    box-shadow: 2px 2px 20px 1px map.get($OCM-colors, "menuShadow");
}
.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
    list-style: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
// .sidebarMenuInner li span {
//     display: block;
//     font-size: 14px;
//     color: black;
// }
// .sidebarMenuInner li a {
//     color: rgb(44, 39, 39);
//     // text-transform: uppercase;
//     font-weight: bold;
//     cursor: pointer;
//     text-decoration: none;
// }
// ******************************************************

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type="checkbox"] {
    display: none;
}
