<div class="cardsRow">
    <card icon="fa fa-shopping-cart" name="PMP" data="365 días" evolution="+ 5 días" nameColor="blue"
        nameBackgroundColor="red" dataColor="red" dataBackgroundColor="blue" evolutionColor="red"
        evolutionBackgroundColor="yellow">
    </card>
    <card icon="fa fa-envelope" name="Deuda viva" data="365 días" evolution="+ 5 días"></card>
    <card icon="fa fa-shopping-cart" name="Deuda comercial" data="365 días" evolution="+ 5 días" evolutionColor="red"
        evolutionBackgroundColor="yellow">
    </card>
    <card icon="fa fa-shopping-cart" name="Tesoreria" data="365 días" evolution="+ 5 días"></card>
</div>