<div class="card">
    <div class="card__header">
        <card-icon icon="{{ icon }}"></card-icon>
        <card-name name="{{ name }}" nameColor="{{ nameColor }}" nameBackgroundColor="{{ nameBackgroundColor }}">
        </card-name>
    </div>
    <card-data data="{{ data }}" dataColor="{{ dataColor }}" dataBackgroundColor="{{ dataBackgroundColor }}">
    </card-data>
    <card-evolution evolution="{{ evolution }}" evolutionColor="{{ evolutionColor }}"
        evolutionBackgroundColor="{{ evolutionBackgroundColor }}">
    </card-evolution>
    <card-graph></card-graph>
</div>