<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li><span>DASHBOARD</span></li>
        <ul>
            <!-- <li><i class="fa fa-euro-sign"></i>Ingresos </li> -->
            <li (click)="ingresos()"><i class="fa fa-euro-sign"></i>Ingresos</li>
            <!-- <li><i class="fa fa-shopping-cart"></i> <a [routerLink]="['/DashboardGastos']"></a>Gastos</li> -->
            <li (click)="gastos()"><i class="fa fa-shopping-cart"></i> Gastos</li>
            <li><i class="fa fa-calendar"></i>Retrasos</li>
        </ul>
    </ul>

    <ul class="sidebarMenuInner">
        <li> <span>INGRESOS</span></li>
        <ul>
            <!-- <li><i class="fa fa-hippo fa-2x"></i>Cápitulos </li> -->
            <li><i class="fa fa-hippo"></i>Cápitulos</li>
            <li><i class="fa fa-comment"></i>Económicos</li>
        </ul>
    </ul>

    <ul class="sidebarMenuInner">
        <li> <span>GASTOS</span></li>
        <ul>
            <li><i class="fa fa-hippo"></i>Cápitulos</li>
            <li><i class="fa fa-comment"></i>Orgánicos</li>
            <!-- <li><i class="fa fa-comment"></i>Programas</li> -->
            <li (click)="programas()"><i class="fa fa-shopping-cart"></i>Programas</li>

            <li><i class="fa fa-comment"></i>Económicos</li>
        </ul>
    </ul>

    <ul class="sidebarMenuInner">
        <li> <span>INFORMACION ECONOMICA</span></li>
        <ul>
            <li><i class="fa fa-hippo"></i>Presupuestos</li>
            <li><i class="fa fa-comment"></i>Cuentas Generales</li>
        </ul>
    </ul>

    <ul class="sidebarMenuInner">
        <li> <span>ORGANIZACION MUNICIPAL</span></li>
        <ul>
            <li><i class="fa fa-hippo"></i>Delegaciones</li>
            <li><i class="fa fa-comment"></i>Entes</li>
            <li><i class="fa fa-comment"></i>Organos de contratación</li>
            <li><i class="fa fa-comment"></i>Sindicatos municipales</li>
        </ul>
    </ul>

    <ul class="sidebarMenuInner">
        <li> <span>DISTRIBUCION GEOGRAFICA </span></li>
        <ul>
            <li><i class="fa fa-hippo"></i>Distritos</li>
            <li><i class="fa fa-comment"></i>Barrios</li>
            <li><i class="fa fa-comment"></i>Secciones censales</li>
        </ul>
    </ul>

    <ul class="sidebarMenuInner">
        <li> <span>TEMAS</span></li>
    </ul>

</div>